
$black: #000000;
$blue: #0f8ec7;
$dark-gray: #CCCCCC;
$dark-gray-2: #777777;
$green: #33b057;
$light-gray: #e5e5e5;
$middle-gray: #bbbbbb;
$middle-gray-2: #efefef;
$middle-gray-3: #f7f7f7;
$red: #ff2536;
$white: #FFFFFF;