<div id="account-list-header">
  <div class="sort-account">
    <button (click)="sortAccount()" [ngClass]="{
          'active':currentSort==='account'
        }">
      <div>Account 
        <span *ngIf="currentSort==='account'"
          class="caret" [ngClass]="{
          'asc':sortAccountAsc,
          'desc':!sortAccountAsc
        }">^</span>
      </div>
    </button>
  </div>
  <div class="sort-balance">
    <button (click)="sortCash()"
        [ngClass]="{
          'active':currentSort==='cash'
        }">
      <div>
        <div><span *ngIf="currentSort==='cash'"
          class="caret" [ngClass]="{
          'asc':sortCashAsc,
          'desc':!sortCashAsc
        }">^</span>
        Available Cash</div>
        <div class="change">Today's Change</div>
      </div>
    </button>
  </div>
</div>