@import "../../styles/colors";

#account-list-action-button{

  button{
    width:100%;
    background-color:$white;
    padding: 38px 0px;
    color:$blue;
    font-size:28px;
    font-weight:bold;
    border:none;

    &:hover{
      color: $black;
      cursor: pointer;
    }
  }

}